<div class="container page">
  <div class="container mainpage" style="border: 5px solid black;">
    <div class="content">
      <h1>Welcome to Gear Up!</h1>
      <p>Register or Login as a user to view clubs and join events!</p>
      <div class="row">
        <div class="col-2 offset-4">
          <button class="btn btn-danger" routerLink="/register">>> Register</button>
        </div>
        <div class="col-2">
          <button class="btn btn-danger" routerLink="/login">>> Login</button>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-4 offset-4">
          <a href="#">
            <div class="eventadd">
                <p>Next Event: Next Event Here</p>
                <p>Gathering: Date Here</p>
                <p>Located in: Location Here</p>
                <p>Spots Open: Open Spots Here</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
