<div class="container page">
  <div class="container mainpage" style="background-color:white; border: 5px solid black;">
    <div class="user container">
      <h1>{{page.title}}</h1>
      <form>
        <h3>User</h3>
        <br />

        <div class="form-group row">
          <label for="Name" class="col-3 col-form-label">Name: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputName" placeholder="Name" />
          </div>
          <label for="Surname" class="col-3 col-form-label">Surname: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputSurname" placeholder="Surname" />
          </div>
        </div>

        <div class="form-group row">
          <label for="DateOfBirth" class="col-3 col-form-label">Date of Birth: </label>
          <div class="col-3">
            <input type="date" class="form-control" id="inputDateOfBirth" />
          </div>
          <label for="Email" class="col-3 col-form-label">Email: </label>
          <div class="col-3">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" />
          </div>
        </div>

        <div class="form-group row">
          <label for="Username" class="col-3 col-form-label">Username: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputUsername" placeholder="Username"/>
          </div>
          <label for="Password" class="col-3 col-form-label">Password: </label>
          <div class="col-3">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" />
          </div>
        </div>

        <h3>Car</h3>
        <br />

        <div class="form-group row">
          <label for="Make" class="col-3 col-form-label">Make: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputMake" placeholder="Make" />
          </div>
          <label for="Model" class="col-3 col-form-label">Model: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputModel" placeholder="Model" />
          </div>
        </div>

        <div class="form-group row">
          <label for="Year" class="col-3 col-form-label">Year: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputYear" placeholder="Year" />
          </div>
          <label for="Displacement" class="col-3 col-form-label">Displacement: </label>
          <div class="col-3">
            <input type="text" class="form-control" id="inputDisplacement" placeholder="...cc" />
          </div>
        </div>

        <div class="form-group row">
          <label for="Lowering" class="col-3 col-form-label">Lowering: </label>
          <div class="col-3">
            <select class="form-control" id="Lowering">
              <option>None</option>
              <option>Springs</option>
              <option>Coilovers</option>
              <option>Air Ride</option>
            </select>
          </div>
          <label for="Wheels" class="col-3 col-form-label">Rims &amp; tires: </label>
          <div class="col-3">
            <textarea class="form-control" id="Wheels" rows="3" placeholder="Describe your setup"></textarea>
          </div>
        </div>
        <div class="col-3 offset-5">
          <button type="submit" class="btn btn-danger">>> Register</button>
        </div>
      </form>
  </div>
</div>
</div>
